body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}
img{
    width:200px;
    height: 300px;
   border-width: 5px ;
   border-style: solid;
   border-color: black;
    padding:5px;
    border-radius: 20px;
    margin: 50px;
}

